Software Development- Python- Section 1B

#Question 1

In [40]:
def print_pattern():
    
    print("+", "-"*4,"+")
    
    for _ in range(3):
        
        print("\\    /")
        
        print("/    \\")
        
    print("+", "-"*4,"+")

print_pattern()

+ ---- +
\    /
/    \
\    /
/    \
\    /
/    \
+ ---- +

#Question 2

In [89]:
def print_pattern():
    for i in range(5):
        print("*"*10)
        
print_pattern()

**********
**********
**********
**********
**********

#Question 3

In [90]:
#a
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [96]:
#b
for i in range(2,14,2):
    print(i)

2
4
6
8
10
12

In [99]:
#c
for i in range(4,80,15):
    print(i)

4
19
34
49
64
79

In [120]:
#d
for i in range(30,-30,-10):
    print(i)

30
20
10
0
-10
-20

In [125]:
#e
for i in range(-7,17,4):
    print(i)

-7
-3
1
5
9
13

In [135]:
#f
for i in range(97,79,-3):
    print(i)

97
94
91
88
85
82

In [137]:
#g
for i in range(-4,104,18):
    print(i)

-4
14
32
50
68
86

In [161]:
#Question 4

def num_pattern():
         for i in range(0,7):
            for a in range(0,i+1):
                print(i+1,end='')
            print()
num_pattern()

1
22
333
4444
55555
666666
7777777

In [187]:
#Question 5

def pay(salary, hours_worked):
    if hours_worked <= 8:
        total_pay = salary * hours_worked
    else:
        regular_pay = salary * 8
        overtime_pay = 1.5 * salary * (hours_worked - 8)
        total_pay = regular_pay + overtime_pay
        
    print(total_pay)
pay(4.00, 11)

50.0

In [189]:
#Question 6

import math 
math.pi
def area (r):
    circle = r * r * math.pi
    print(circle)
area(2)

12.566370614359172

In [ ]:
low = 1
high = 1001
sum_result = 0

for i in range(low, high):
    sum_result += i

print("sum =", sum_result)

In [138]:
#Question 4 

class NumberTriangle:
    # Class constant to control the number of lines
    NUM_LINES = 7

    # Function to print the number triangle
    def print_triangle(self):
        for i in range(1, self.NUM_LINES + 1):
            print(str(i) * i)

# Create an instance of the class
triangle_instance = NumberTriangle()

# Call the function to print the triangle
triangle_instance.print_triangle()

1
22
333
4444
55555
666666
7777777

In [146]:
class Numbertraingle:
    NUM_LINES = 7
    
    def print_traingle(self):
        
        for i in range(1, self.NUM_LINES + 1):
            print (str(i)*i)
        
traingle_instance = Numbertraingle()

traingle_instance.print_traingle()

1
22
333
4444
55555
666666
7777777

#Question 5

In [147]:
def pay(salary, hours_worked):
    # Assuming salary is hourly
    total_payment = salary * hours_worked
    return total_payment

# Example usage
ta_salary = 5.50  # TA's hourly salary
hours_worked = 6  # Number of hours worked

# Call the pay method
payment_amount = pay(ta_salary, hours_worked)

# Display the result
print(f"The TA should be paid: ${payment_amount}")

The TA should be paid: $33.0

In [148]:
def pay(hourly_salary, hours_worked):
    normal_hours = 8
    overtime_multiplier = 1.5

    if hours_worked <= normal_hours:
        total_payment = hourly_salary * hours_worked
    else:
        normal_payment = hourly_salary * normal_hours
        overtime_payment = hourly_salary * overtime_multiplier * (hours_worked - normal_hours)
        total_payment = normal_payment + overtime_payment

    return total_payment

# Example usage
hourly_salary = 5.50  # TA's hourly salary
hours_worked_1 = 6    # Number of hours worked (no overtime)
hours_worked_2 = 11   # Number of hours worked (with overtime)

# Call the pay method
payment_amount_1 = pay(hourly_salary, hours_worked_1)
payment_amount_2 = pay(4.00, hours_worked_2)

# Display the results
print(f"The TA should be paid (no overtime): ${payment_amount_1}")
print(f"The TA should be paid (with overtime): ${payment_amount_2}")

The TA should be paid (no overtime): $33.0
The TA should be paid (with overtime): $50.0